<h1>About</h1>
<p>
I have made my life’s goal to apprentice at Hashrocket. I have no formal training, education, or work experience with Ruby or Ruby on Rails. However, I do spend 100% of my free time working to become not only employable, but a master in the field (please don’t mistake passion and aptitude for skill!). I want to make a career out of doing what I love, and cannot fathom a better way to venture towards artisan, than with Hashrocket.  I can absolutely guarantee your time and effort vested in me will benefit you, and the Rails and Open Source community. I promise, let me prove it.

<h2>Pertinent Offerings to an Apprenticeship</h2>


<ul>
  <br>•A love for Ruby and Rails
  <br>•A growing obsession with VIM (I even use Hashrocket’s dotfiles!)
  <br>•A burning desire to excel 
  <br>•A love and need to give back to OSS
</ul>

<p>
A little about myself; I am a 26-year-old Network Support Technician working for a private K-12 in Naples, FL. I live with my wife Katy, and our dog Ruby(seriously). I like to play guitar, read, and hack on ruby. I’ve worked full-time in the Information Technology domain my entire working career. Starting as a Helpdesk Support Technician, where I honed my fanatical customer support skill-set. And then on to working as a Mobile and In-house PC Tech in a fast paced enterprise environment. My current role is applying OS X/*nix domain knowledge to integrate Apple products into a pre-existing Active Directory environment. 
</p>
