<h2>Tests</h2>
<p>I put this site together to demonstrate a simple, web app using Ruby on Rails.</p><p>Sure, this is way overkill to display contact information. But it was fun, because i'm serving that content with Rails.</p>
